@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Poppins:ital,wght@0,200;0,300;0,500;1,200;1,300&display=swap');

.root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

* {
    margin: 0;
    padding: 5px 15px;
    font-family: 'poppins', sans-serif;
    /* box-sizing: border-box; */
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section{
    margin: 0;
    padding: 5px 75px; 
}



html {
     font-size: 80%; 
     overflow-x: hidden; 
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content:space-between ;
    padding: 0rem 5%;
    background: #fff;
    box-shadow: 0px 0px 10px grey;
}

.header img {
    width: 6rem;
    box-sizing: border-box;

}

.header .logo {
    font-size: 2em;
    font-weight: bolder;
    color: var(--black);
    padding-left: 0px;
}

.header .logo i {
    color: var(--orange);

}

.icons {
    display: flex;
    /* padding-left: 50px; */
    cursor: pointer;
    /* box-sizing: border-box; */
    height: 3rem;
    width: 2rem;
    font-size: 2rem;
    line-height: 4.5rem;
    /* background: #eee; */
    color: var(--black);
    text-align: center;
    border-radius: .5rem;
    margin-right: 14.3rem;

}

/* .icons i{
   
    
} */

.icons div:hover {
    background-color: #ff7800;
    color: #fff;
}

.fast shopping-basket {
    padding-left: 0px;
}

header .search-form {
    position: absolute;
    top: 110%;
    right: -100%;
    width: 18rem;
    height: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);

}

header .search-form.active {
    position: absolute;
    top: 110%;
    right: 7em;
    width: 18rem;
    height: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);

    /* transition: 0.4s linear; */
}

header .search-form input {
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.2rem;
    color: #130f40;
    padding: 0px 0rem;
}

.fa-solid,
.fas {
    font-size: 22px;
}

.shopping-cart {
    background-color: #fff;
    position: absolute;
    top: 110%;
    right: -28rem;
    width: 24rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
}

.shopping-cart.active {
    right: 1rem;
}

.shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.box img {
    width: 9rem;
}

.box img:hover{
    transform: scale(1.2);
}
.box .fa-trash-can {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: -3rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translate(-50%);
}

.box .fa-trash-can:hover {
    background-color: #ff7800;
}

.button {
    border: 2px solid white;
    background: orange;
    border-radius: 10px;
    color: white;
}


.button:hover {
    color: black;
    background-color: #fff;
    border: 1px solid black;
}

.login-form {
    text-align: center;
    margin-top: 29rem;
    background-color: #2e258f;
    position: absolute;
    height: 21rem;
    right: -28rem;
    width: 22rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);

}

.login-form.active {
    right: 2rem;

}

.login-form p {
    color: #fff;
}

.login-form a {
    color: orange;
}

.login-form h3 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -10px;
    /* margin-top: 5px; */
    color: #fff;
}

.box {
    margin: 5px;
    margin-top: 10px;
    font-size: 15px;
    border-radius: 5px;
}

.box2 {
    font-size: 16px;
    /* border: 2px solid black; */
    padding: 4px 10px;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
    /* color: #fff;
    background-color: orange; */

    border: 1px solid white;
    background: orange;
    border-radius: 10px;
    color: white;
    margin-top: 15px;

}

.box-container .box3 img:hover{
    transform: scale(1.2);
}

.box2:hover {
    /* color: #130f40;
    background-color: #fff; */

    color: black;
    background-color: #fff;
    border: 1px solid black;
}

.home {
    display: flex;
    margin-top: 3rem;
    background-color: #ff7800;
    background: rgba(0, 0, 0, 0.7) url('images/vagies.jpg');
    background-size: cover;
    height: 7rem;
    padding-top: 10rem;
    padding-bottom: 15rem;
}

.content {
    
  
    align-items: center;
    text-align: center;
    font-size: 16px;
    margin-top: 0rem;
}

.content a {
    border: 2px solid black;
    color: #130f40;
    border-radius: 5px;
    /* padding-top: 15px; */

}

.content button {
    background: transparent;
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.content button:hover {
    color: white;
    background-color: orange;
    border: 2px solid white;
}

.home .content h3 {
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content span {
    color: #ff7800;
}

.heading {
    text-align: center;
    padding: 2rem;
    /* padding-bottom: 3rem; */
    font-size: 3rem;
    color: var(--black);
}

section .heading span {
    background: #ff7800;
    color: #fff;
    display: inline-block;
    padding: 0rem 2rem;
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 0.5rem;
    display: flex;
    /* background-color: #2e258f; */
    height: 450px;
    width: 1000px;
    gap: 15px;
    align-items: center;
    padding-left: 150px;
}

.features .box-container .box3 {
    padding: 3rem 2rem;
    height: 395px;
    width: 350px;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    /* width: 20rem; */
    gap: 15px;

}

.box3 img {
    width: 15rem;
    
}

.box-container .box3:hover {
    border: 2px solid black;
    border-radius: 5px;
    
}

.box3 a {
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 15rem;
    padding: 5px 10px;
}

.box3 a:hover {
    background: rgb(237, 234, 234);
    color: orange;
}

.box3 p {
    margin-bottom: 20px;
}

.porducts h1 span {
    background: #ff7800;
    color: #fff;
    display: inline-block;
    padding: 0rem 2rem;
    clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button {
    background: #ff7800;
    padding: 5px 10px;
}


.products .product-slider .stars i{
    padding: 0px;
    color: var(--ornage);
    font-size: 12px;
    margin-bottom: 10px;
    color: orange;
}

.box img{
    width: 12rem;
}

.box-container .box .img3 img{
margin: 23px;
}

/* .box img:hover{
    border: 1.5px solid orange;
    border-radius: 50%;
} */

a.btn{
    border: 2px solid white;
    background: orange;
    color: white;
    border-radius: 9px;
    padding: 4px 10px;
  
}

.box .btn{
    border: 2px solid white;
    background: orange;
    color: white;
    border-radius: 9px;
    padding: 4px 10px;
  
}

.box .btn:hover{
    border: 2px solid black;
    background: white;
    color: black;
    border-radius: 9px;
    padding: 4px 10px;
  
}

a.btn:hover{
    color: #130f40;
    background: #fff;
    border: 1.5px solid black;
}

.product-slider{
    align-items: center;
    text-align: center;
}

.products .product-slider{
    padding: 1rem;
 
}


.products .product-slider:first-child{
    margin-bottom: 2rem;
    background: orange;
}

/* .swiper h3{
    width: 10%;
} */

.products .product-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 0rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    border: 2px solid black;
    height: 300px;
    width: 250px;
    overflow: hidden;
}





.products .product-slider .box:hover{
    border: 2px solid orange;
}

/* .products .product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);   
} */

.categories .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 1.5rem;
}

.categories .box-container .box{
    padding: 3rem 2rem;
    border-radius: .5rem;
    background:#fff ;
    text-align: center;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
}

.review.review-slider{
    padding: 1rem;
}

.reviews .review-slider .box{
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 0rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    border: 2px solid black;
    height: 280px;
     /*width: 250px; */
    overflow: hidden;
}

.reviews .review-slider .box img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;

}

.reviews .review-slider .box p{
    padding: 1rem 2rem;
    line-height: 1.8;
    color: var(--light-color);
    /* font-size: 1.5rem; */
}

.reviews .review-slider .box:hover{
    border: 2px solid orange;
}

.reviews .review-slider .stars i{
    padding: 0px;
    color: var(--ornage);
    font-size: 12px;
    margin-bottom: 10px;
    color: black;
}

.footer{
    background: rgb(202, 197, 197);
}

.footer .box-container{

    /* color: #ff7800; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 6.5rem;
}

.contact .links{
    padding: 0px;
}

.contact {
    font-size: 13px;
    padding: 0px;
 }

.contact i{
   font-size: 15px;
}

.footer .share a{
    padding: 8px;
    font-size: 25px;
}

.box input{
    border: 1.5px solid black;
    border-radius: 5px;
    margin: 5px;
}

.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
    gap: 1.5rem;
}

.blogs .box-container .box{
    padding: 0rem 0rem;
    overflow: hidden;
    border-radius: .5rem;
    background:#fff ;
    text-align: center;
    /* outline-offset: -1rem;
    outline: var(--outline); */
    /* box-shadow: var(--box-shadow); */
}

.blogs .box-container .box img{
    width: 410px;height: 20rem;
    padding: 0px;
    
}

.blogs .box-container .box .content .icons i{
    font-size: 10px;
    text-align:  left;
    justify-content: left;
}

.blogs .box-container .box .content .icons {
    padding: 5px;
    width: 18rem;
}

.products img:hover{
    transform: scale(1.2);
}
@media (max-width:768px) {
    #menu-bnt {
        display: inline block;
    }

    header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}